@{
    ViewData["Title"] = "Home Page";
}

<div id="app">
  <layout>
    <router-view></router-view>
  </layout>
</div>

<script src="~/dist/main.bundle.js" asp-append-version="true"></script>
<link href="~/dist/css/main.bundle.css" rel="stylesheet"asp-append-version="true">
